body {
    background: rgba(164, 18, 231, 0.884);
    color: rgba(164, 18, 231, 0.884);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
  background: black;
  margin: auto;
  display: flex;
  padding:10px;
  border-radius: 10px;
  border-color: black;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: fit-content;
  box-shadow: 6px 6px #0000004b;
  width: 1500px;
}
h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 10px;
  font-style: 'Courier New', Courier, monospace;
  font-size: 40px;
  padding: 10px;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 5px;
}
a {
  text-decoration: none;
  color: magenta;
  padding-right: 25px;
}

/* main container area beneath menu */
main {
  background: white;
  display: flex;
  border-radius: 10px;
  border-color: black;
  max-width: 1000px;
  justify-content: center;
  box-shadow: 6px 6px #0000004b;
  margin: auto;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
          display: flex;
          align-items: center;
          color: black;
          flex: 1;
          margin: 0;
          font-style: 'Courier New', Courier, monospace;
          font-size: 40px;
          padding: 10px;
        }

        #portfolio {
          list-style-type: none;
          padding-left: 0;
        }

        #portfolio li {
          transition: 150ms;
          background: black;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 10px;
          margin-left: 20px;
          margin-right: 20px;
          box-shadow: 6px 5px #0000004b;
          margin-bottom: 15px;
        }

        #portfolio li:hover {
          background: purple;
          box-shadow: 10px 8px #0000004b;
        }

        #portfolio a {
            text-decoration: none;
            color: magenta;
        }
            /* responsive web design */
            @media screen and (min-width: 120px) and (max-width: 1080px) {
                main {
                  height: 100ch;
                  zoom: 1.5;
                  display: grid;
                }
  
                h1 {
                  font-size: 44px;
                }
  
                h2 {
                  font-size: 42px;
                }
  
                h3 {
                  font-size: 36px;
                }
  
                #all-contents {
                  height: 100ch;
                  margin: none;
                }
  
                a {
                  font-size: 42px;
                }
  
                .sidebar {
                  margin-right: 0px;
                  justify-content: center;
                  align-items: center;
                }
  
                .sidebar-img {
                  width: 100%;
                }
  
                p,
                li {
                  font-size: 24px;
                }
  
                .content {
                  align-content: center;
                  justify-content: center;
                }
            }
            #unique {
              color:black
            }